html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deliverables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5em;

    width: 75%;
}

.navigation {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--color-secondary);
    border-top: 0.1em solid black;

    width: 100%;
}

.navigational {
    color: black;
    padding: 0.5em;
}

.navigational:hover {
    transform: scale(1.01);
    color: rgb(30, 30, 30);
    cursor: pointer;
}

.deliverable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
    background-color: var(--color-secondary);
    border: 0.1em solid black;
    padding: 1em;
    box-shadow: var(--shadow);

    width: 100%;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
}

.image {
    height: 80%;
    width: 80%;
    object-fit: contain;
    background-color: gray;

    box-shadow: var(--shadow);
}