.deliverable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
    background-color: var(--color-secondary);
    border: 0.1em solid black;
    padding: 1em;
    box-shadow: var(--shadow);

    width: 100%;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
}

.image {
    height: 80%;
    width: 80%;
    object-fit: contain;
    background-color: gray;

    box-shadow: var(--shadow);
}