.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    opacity: 0;
    animation: fadeIn 1.25s linear;
    animation-fill-mode: forwards;

	background-image: url("./resources/background.png");
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	height: 90vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
header_1 {font-size: 2.5em;}
header_2 {font-size: 12em;}
header_3 {font-size: em;}

.title {
    color: white; 
    text-shadow: 0.1em 0.1em black;
    margin-left: .2em;
    margin-top: 1em;

}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}