.main {
    z-index: -10001;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
/* 
    opacity: 0;
    animation: fadeIn 1.25s linear;
    animation-fill-mode: forwards; */

	background-image: url("./resources/background.png");
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	height: 90vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
header_1 {
    font:  bold 24px/1 sans-serif;
    font-size: 2em;
    position: absolute; 
    top: 2.2em;
}
header_2 {
    font-size: 1em;
    font-style: italic;
    position: absolute; 
    bottom: 10em
}
header_3 {
    font-size: 1em;
    position: absolute; 
    bottom: 7em
}

.title {
    color: beige; 
    text-shadow: -0.01em 0.1em black;
    margin-left: -0.1em;
    margin-top: 0.9em;

}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}