.glossary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 2em;
    background-color: var(--color-secondary);
    border: 0.1em solid black;
    padding: 2em;
    box-shadow: var(--shadow);
}

.item {
    color: black;
}